{% load static %}

<!-- template extending -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'hello/styles.css' %}"/>
</head>
<body>
    <ul>
        <a href="{% url 'user' %}">
            <li>Login</li>
        </a>
    </ul>
    {% block body %}
    {% endblock %}
</body>
</html>
